.header{
	float: left;
    min-height: 90px;
    width: 100%;
    width: 100%;
    background: white;
}
.header .brand{
	margin-left: 30px;
    margin-top: 15px;
}
.content-wrapper{
	float: left;
	width: 100%;
}
.navbar-toggle .icon-bar{
	background: #b8b8ba;
	width: 25px;
	height: 3px;
}
.navbar-toggle{
	margin-top: 25px;
    margin-right: 25px;
}
body{
	color: #434246;
}
i{
	font-size: 12px !important;
}
h1 i{
	font-size: 28px !important;
}
.form-inline .select-wrap{
	display: none;
}
.form-inline .dropdown-wrap{
	position: relative;
}
.form-inline .dropdown-wrap button{
	height: 30px;
    width: 100%;
    background: transparent;
    text-align: left;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #d0d0d0;
    color: #454545;
    font-size: 16px;
}

.form-inline .dropdown-wrap .dropdown-menu>li>a{
	font-size: 16px;
    display: block;
    padding: 10px 20px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #706f7c;
    white-space: nowrap;
}
.form-inline .dropdown-wrap button span{
	float: right;
    margin-right: 20px;
    margin-top: 10px;
}
a{
	transition: 0.2s all linear;
	font-size: 14px;
	font-family: "Montserrat";
	font-weight: 400;
}
h1{
	font-family: Montserrat;
	line-height: 1.5;
	font-weight: 700;
	font-size: 32px;
}
h2{
	font-family: Montserrat;
	font-size: 25px;
	line-height: 1.5;
	font-weight: 700;
}
h3{
	font-family: Montserrat;
	line-height: 1.5;
	font-weight: 700;
	font-size: 19px;
}
p,span{
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.label-gray{
	color: #706f7c;
}
.white{
	color: white;
}
.btn-link{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
    width: 235px;
    text-align: center;
    height: 50px;
    border-radius: 4px;
}
.btn-orange{
    color: white;
    background: #fc5535;
	transition: 0.2s all linear;
}
a.btn-orange{
	line-height: 50px;
}
.btn-orange:hover,
.btn-orange:active{
	background: #ea401f;
	color: white;
	text-decoration: none;
}
span.wpcf7-not-valid-tip{
	display: none;
}
.contact-wrap #wpcf7-f50-o1 input.wpcf7-not-valid{
	border-color: red;
}
.card-title{
	font-family: Montserrat;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
.navbar-nav>li>a{
	font-size: 14px;
	font-family: "Montserrat";
	font-weight: 400;
	color: #706f7c;
	padding: 35px 0px;
	display: block;
	width: 150px;
	text-align: center;
    border-left: 1px solid #d0d0d0;
}
.navbar-nav>li>a:hover{
	color: #fc5535;
	background: transparent;
}
.navbar-nav>li.menu-item-object-custom.menu-cus>a{
	color: #ea401f;
	width: 190px;
}
.navbar-nav>li.menu-item-object-custom.menu-cus>a:hover{
	color: #fc5535;
}
.navbar-collapse.collapse{
	padding: 0;
}
.title-section{
	background: url('../img/img_hero.jpg') no-repeat center;
	padding: 164px 0;
	background-size: cover;
}
.hero{
	font-family: Montserrat;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 54px;
	color: white;
	text-align: center;
}
.hero-tagline{
	font-family: Open Sans;
	font-weight: 600;
	margin: 0;
	font-size: 24px;
	color: white;
	text-align: center;
}
.section-2 form label{
	font-family: Montserrat;
	line-height: 1.5;
	font-weight: 700;
	font-size: 19px;
	margin-right: 15px;
}
.section-2 form{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
    justify-content: center;
}
.section-2 .form-inline #iwantselect{
	font-size: 16px;
	border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.section-2 .form-inline .custom-combobox{
	height: 30px;
	display: inline-block;
    border-bottom: 1px solid #d0d0d0;
}
.section-2 .form-inline .custom-combobox .ui-button:active,
.section-2 .form-inline .custom-combobox .ui-button:focus{
	outline: none;
	border: none;
    background: transparent;
}
.section-2 .form-inline .custom-combobox .ui-button{
	background: transparent;
    border: none;
}
.section-2 .form-inline .custom-combobox .custom-combobox-input{
	border: none;
    background: transparent;
	width: 250px;
}
.section-2 .form-inline .custom-combobox .custom-combobox-input:focus{
	outline: none;
	border: none;
    background: transparent;
}
.section-3{
	background: #f5f5f5;
	padding: 25px 0;
}
.element-block{
	height: 450px;
	margin-bottom: 25px;
	background: white;
	overflow: hidden;
	background: #e8e8e8;
}
#carousel-card .customer-comment{
	min-height: 100px;
}
.element-block .img-elem-wrap{
	display: flex;
	justify-content: center;
    align-items: flex-end;
	background: url('../img/country-img/blank.jpg') no-repeat left;
	background-size: cover;
	padding: 0;
	height: 100%;
}
.element-block .img-elem-wrap .img-elem-inner{
	width: 100%;
	height: 50%;
    padding-top: 60px;
	background: rgba(90,76,65, .6);
}
.element-block .img-elem-wrap .img-elem-inner .elem-tagline{
	margin-top: 0;
    margin-bottom: 20px;
}
.element-block .img-elem-wrap .img-elem-inner a{
	margin: 0 auto;
    display: block;
}
.element-block .content-elem-wrap{
	padding: 0;
}
.element-block .content-elem-wrap .elem-title{
	margin-bottom: 0;
    padding: 26.5px 35px;
    margin-top: 0;
    border-bottom: 1px solid #d0d0d0;
	background: white;
}
.element-block .content-elem-wrap .elem-service{
	padding: 25px 30px;
	background: white;
}
.element-block .content-elem-wrap .elem-service .section-title{
	display: inline-flex;
    align-items: center;
    margin-bottom: 25px;
}
.element-block .content-elem-wrap .elem-service .section-title h3{
	margin: 0;
}
.element-block .content-elem-wrap .elem-service .section-title img{
	margin-right: 15px;
	width:24px;
}
.element-block .content-elem-wrap .elem-pricing{
	background: #e8e8e8;
	padding: 25px 30px;
}
.element-block .content-elem-wrap .elem-pricing .pricing-block{
	float: left;
    margin-right: 50px;
}
.element-block .content-elem-wrap .elem-pricing .pricing-block h2{
	margin-bottom: 20px;
	min-height: 37px;
}
.cards-wrap{
	float: left;
	width: 100%;
}
.cards-wrap .card{
	background: white;
	padding: 25px 0;
	position: relative;
	height: 410px;
}
.cards-wrap .card.card-employment h2 img{
	width: 25px;
    margin-left: -20px;
    margin-right: 35px;
}
.btn-link:focus, .btn-link:hover{
	background: #ea401f;
    color: white;
    text-decoration: none;
	outline: none;
}
.talk-to-us a:focus,
.talk-to-us a:active{
	text-decoration: none;
	color: white;
}
.cards-wrap .card .card-title{
	margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 25px;
	border-bottom: 1px solid #d0d0d0;
	color: #706f7c;
}
div.wpcf7-validation-errors{
	display: none !important;
}
.cards-wrap .card  .card-content-wrap{
	padding: 25px;
}
.cards-wrap .card  .card-content-wrap .customer-position{
	margin-bottom: 0px;
}
.cards-wrap .card  .card-content-wrap .customer-position,
.cards-wrap .card  .card-content-wrap .customer-name {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.cards-wrap .card  .card-content-wrap .customer-name{
	color: #a2a2a8;
	margin-bottom: 10px;
	margin-top: 5px;
}
.cards-wrap .card-learn .card-service-elem{
	margin-bottom: 25px;
}
.cards-wrap .card-learn .card-service-elem img{
	margin-right: 15px;
}
.cards-wrap .card .card-link{
	color: #ea401f;
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.cards-wrap .card .card-link:hover{
	color: #fc5535;
	text-decoration: none;
}
.carousel-indicators{
	bottom: -40px;
}
.carousel-indicators li{
	border: 1px solid #a2a2a8;
	background: #a2a2a8;
}
.carousel-indicators li.active{
	background:transparent;
	margin-right: 5px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.section-4{
	background: #e8e8e8;
	padding: 25px 0;
}
.section-4 h3{
	color: #706f7c;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
	font-family: Montserrat;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.section-4 #carousel-logo-customers .img-wrap{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-4 #carousel-logo-customers .carousel-indicators{
	bottom: -25px;
	
}
.section-5{
	background: #f5f5f5;
	padding: 25px 0;
}
.section-5 .countries-wrap .country-wrap {
	margin-bottom: 25px;
}
.section-5 .countries-wrap .country-wrap .country-img{
	height: 325px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.section-5 .countries-wrap .country-wrap .country-img .opacity-bg{
	background: rgba(0,0,0, .4);
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.section-5 .countries-wrap .country-wrap .country-img .opacity-bg .country-name{
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 600;
}
.section-5 .countries-wrap .country-wrap .country-img .opacity-bg .country-price{
	margin: 0;
	font-weight: 400;
}
.section-5 .countries-wrap .country-wrap .country-content{
	padding: 25px;
	background: white;
	height: 150px;
	position: relative;
}
.section-5 .countries-wrap .country-wrap .country-content .country-link{
	color: #ea401f;
    position: absolute;
	font-family: Montserrat;
    left: 25px;
    bottom: 25px;
	border:0;
	background:transparent;
}
.section-5 .countries-wrap .country-wrap .country-content .country-link:hover{
	color: #fc5535;
    text-decoration: none;
}
.section-5 .countries-wrap .country-beijing .country-img{
	background-image: url('../img/china-beijing-bg.jpg');
}
.section-5 .countries-wrap .country-singapore .country-img{
	background-image: url('../img/SG.jpg');
}
.section-5 .countries-wrap .country-ukraine .country-img{
	background-image: url('../img/UA.jpg');
}
.section-5 .countries-wrap .country-london .country-img{
	background-image: url('../img/GB.jpg');
}
.section-5 .countries-wrap .country-amsterdam .country-img{
	background-image: url('../img/NL.jpg');
}
.section-5  .talk-to-us a .talk-bg{
	height: 475px; 	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	transition: 0.2s all linear;
	background: #fc5535;
}
.section-5  .talk-to-us a:hover{
	text-decoration: none;
	color: white;
}
.section-5  .talk-to-us a:hover .talk-bg{
	background: #ea401f;
}
footer{
	background: #f5f5f5;
	padding: 25px;
	float: left;
	width: 100%;
}
.desktop-logo{
	display: block;
}
.mobile-logo{
	display: none;
}
.contact-wrap{
	float: left;
	width: 100%;
	background: #f5f5f5;
}
.contact-wrap #wpcf7-f50-o1{
	width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 3px;
	padding: 30px 50px;
}
.contact-wrap #wpcf7-f50-o1 h2{
	font-size: 16px;
	font-weight: 200;
	color: #afafaf;
	margin-bottom: 30px;
	margin-top: 10px;
}
#ui-id-1{
	width: 230px;
	max-height: 270px;
	overflow-y: auto;
	border-radius: 3px;
	border-color: #d0d0d0 !important;
	font-family: Montserrat !important; 
}
#ui-id-1 .ui-menu-item{
	border-left: #d0d0d0;
    border-right: #d0d0d0;
	padding: 0 1px;
	height: 45px !important;
}
#ui-id-1 .ui-menu-item-wrapper{
	font-size: 16px !important;
    display: block;
    padding: 10px 20px !important;
    font-weight: 400;
    line-height: 1.5 !important;
    color: #706f7c;
	height: 45px !important;
	border: none;
	outline: none !important;
	background: white;
	margin:0;
}
#ui-id-1 .ui-menu-item-wrapper:hover,
#ui-id-1 .ui-menu-item-wrapper:focus,
#ui-id-1 .ui-menu-item-wrapper:active{
	outline: none !important;
	background: #f5f5f5 !important;
	line-height: 1.5 !important;
	font-size: 16px !important;
	padding: 10px 20px !important;
	border: none;
	height: 45px !important;
	margin: 0;
	
}
.ui-button.ui-state-active:hover {
	background: #f5f5f5 !important;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: 0px;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
	padding-left: 0;
}
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}

.contact-wrap #wpcf7-f50-o1 input {
    line-height: normal;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #d0d0d0;
    width: 100%;
    padding-left: 10px;
    height: 30px;
	transition: 0.3s all linear;
	color: #706f7c;
}
.contact-wrap #wpcf7-f50-o1 textarea{
	width: 100%;
	border: 2px solid #d0d0d0;
	transition: 0.3s all linear;
	padding: 15px;
	border-radius: 4px;
	height: 110px;
	resize: none;
}
.contact-wrap #wpcf7-f50-o1 .dropdown-wrap{
	width: 100%;
}
.contact-wrap #wpcf7-f50-o1 .dropdown-wrap .drop-input{
	height: 30px;
	width: 100%;
	background: transparent;
	text-align: left;
	border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #d0d0d0;
	color: #a9a9bb;
	font-size: 16px;
}
.contact-wrap #wpcf7-f50-o1 .submit-wrap{
	margin-bottom: 0 !important;
	min-height: 50px;
}
.contact-wrap form .cancel-form{
	position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    display: block;
    width: 35px;
    text-align: center;
    color: #e3e3e3;
}
.contact-wrap form .cancel-form:hover{
	text-decoration: none;
	color: black;
}
.contact-wrap #wpcf7-f50-o1 .submit-wrap{
	text-align: center;
}
.contact-wrap #wpcf7-f50-o1 .submit-wrap #talksubmitbtn{
	width: 180px;
    color: white;
	border: none;
	height: 50px;
}
.btn-group.open .dropdown-toggle{
	box-shadow: none;
}
.contact-wrap #wpcf7-f50-o1 .dropdown-menu>li>a{
	font-size: 16px;
    display: block;
    padding: 10px 20px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #706f7c;
    white-space: nowrap;
}
.contact-wrap #wpcf7-f50-o1 .dropdown-menu{
	width: 100%;
}
.contact-wrap #wpcf7-f50-o1 .dropdown-wrap .drop-input span{
	float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.contact-wrap #wpcf7-f50-o1 .group{
	margin-bottom: 30px; 
}
.nav>li{
	margin: 0;
}
.contact-wrap #wpcf7-f50-o1  h1{
	margin-top: 0;
	margin-bottom: 0;
}
.contact-wrap #wpcf7-f50-o1 .select-wrap{
	display: none;
}
.contact-wrap #wpcf7-f50-o1 input:focus,
.contact-wrap #wpcf7-f50-o1 textarea:focus{
	outline: none;
	border-color: rgba(252, 85, 53, .6);
}
.contact-wrap{
	display: none;
    z-index: 99;
    top: 0;
    position: fixed;
    background: rgba(134,134,134, .6);
    bottom: 0;
    left: 0;
    right: 0;
	padding-top: 200px;
	overflow-y: auto;
	padding-bottom: 100px;
}
.contact-wrap .talk-success-message{
	margin: 100px auto;
    width: 500px;
    background: white;
    padding: 30px 50px;
    border-radius: 3px;
	display: none;
}
.contact-wrap .talk-success-message .talk-message-icon{
	display: block;
    margin: 0 auto 30px;
}
.contact-wrap .talk-success-message h2 {
	margin-top: 0;
    margin-bottom: 10px;
}
.contact-wrap .talk-success-message p {
	margin-bottom: 30px;
}
.contact-wrap .talk-success-message .btn-link {
	display: block;
    margin: 0 auto;
}
.intl-tel-input{
	width: 100%;
}
#talk-phone-international{
	padding-left: 60px !important;
}
.intl-tel-input .country-list{
	max-width: 400px;
}



@media (max-width: 767px){
	.cards-wrap .card {
		height: auto !important;
	}
	.element-block .img-elem-wrap .img-elem-inner{
		padding: 60px;
		height: 100%;
	}
	.element-block {
    height: auto !important;
	}
	.element-block .content-elem-wrap .elem-title{
		font-size: 23px !important;
	}
	.element-block .content-elem-wrap .sec-name-wrap{
		display: none;
	}
	#papaya-top-menu{
		width: 100%;
		float: left !important;
		padding-left: 0px;
	}
	#papaya-top-menu #menu-primary-menu{
		margin: 0;
	}
	#papaya-top-menu #menu-primary-menu>li>a{
		padding: 35px 0px;
		width: 100%;
		border: none;
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
		margin: 0;
	}
	.title-section{
		padding: 100px 15px;
	}
	.hero{
		font-size: 32px;
	}
	.hero-tagline{
		font-size: 24px;
	}
	.cards-wrap .card{
		margin-bottom: 25px;
		height: 370px;
	}
	.cards-wrap .card .card-link{
		font-size: 16px;
	}
	.section-4 #carousel-logo-customers .img-wrap{
		justify-content: center;
		min-height: 450px;
	}
	.section-5 .countries-wrap .country-wrap .country-img{
		height: 250px;
	}
	.section-5  .talk-to-us a .talk-bg{
		height: 250px;
	}
	.desktop-logo{
		display: none;
	}
	.mobile-logo{
		display: block;
	}
	.contact-wrap{
		padding: 20px 0;
	}
	.contact-wrap #wpcf7-f50-o1{
		display: block;
		width: 100%;
		height: auto;
		float: left;
		padding: 30px 15px;
	}
	.contact-wrap #wpcf7-f50-o1 input,
	.contact-wrap #wpcf7-f50-o1 .dropdown-wrap .drop-input{
		height: 45px;
		font-size: 16px;
	}
	.phone-custom-placeholder{
		font-size: 16px;
		top: 10px;
	}
	.contact-wrap #wpcf7-f50-o1 textarea{
		font-size: 16px;
	}
	.contact-wrap #wpcf7-f50-o1 .submit-wrap .cancel-form{
		float: left;
		width: 100%;
		margin-bottom: 20px;
		background: #d0d0d0;
		border-radius: 3px;
		font-size: 18px;
	}
	.contact-wrap #wpcf7-f50-o1 .submit-wrap  #talksubmitbtn{
		float: left;
		width: 100%;
		font-size: 18px;
	}
	.contact-wrap .talk-success-message{
		width: 95% !important;
		padding: 20px 15px !important;
	}
	.contact-wrap .talk-success-message .btn-link{
		font-size: 16px;
	}
	.contact-wrap form .cancel-form{
		top: 30px;
	}
}
@media (min-width: 768px){
	.form-inline .form-control, .form-inline .dropdown-wrap button{
		width: 360px !important;
	}
	.form-inline .form-group{
		margin-right: 50px;
	}
	.form-inline .dropdown-wrap .dropdown-menu{
		left: 105px;
	}
	
}
@media (min-width: 768px) and (max-width: 992px){
	.cards-wrap .card .card-title{
		font-size: 12px;
	}
		
}
@media (max-width: 1100px){
	.navbar-nav>li>a{
		width: auto;
		padding: 35px 15px;
	}
	.navbar-nav>li.menu-item-object-custom.menu-cus>a{
		width: auto;
	}
}
@media (min-width: 1110px){
	.contact-wrap{
		height: 100vh;
		padding: 0;
	}
	.contact-wrap #wpcf7-f50-o1{
		display: block;
		position: fixed;
		left: calc(50% - 250px);
		top: calc(50% - 300px);
	}
	#ui-id-1{
		width: 285px !important;
	}
}
@media (min-width: 1110px) and (max-height: 750px){
	.contact-wrap #wpcf7-f50-o1 .group{
		margin-bottom: 20px;
	}
	.contact-wrap #wpcf7-f50-o1 textarea{
		height: 90px;
	}
	.contact-wrap #wpcf7-f50-o1{
		top: 50px;
		padding: 25px 50px;
	}
	.contact-wrap #wpcf7-f50-o1  h1{
		font-size: 28px;
	}
}
@media (max-width: 1199px){
	.section-2 form{
		padding: 25px 0;
	}
	.form-inline .form-group{
		margin-bottom: 25px;
	}
	.cards-wrap .card{
		margin-bottom: 25px;
		height: 460px;
	}
	.cards-wrap .card.card-employment h2 img{
		margin-left: 0;
		margin-right: 15px;
	}
}
@media (max-width: 992px){
	.form-inline .form-group{
		margin-bottom: 25px;
		margin-right: 0;
		width: 70%;
	}
	.section-2 form label{
		min-width: 90px;
	}
	.element-block .content-elem-wrap .elem-title{
		padding: 15px 20px;
		font-size: 20px;
	}
	.element-block .content-elem-wrap .elem-service{
		padding: 15px;
	}
	.element-block .content-elem-wrap .elem-pricing{
		    padding: 15px;
	}
	.element-block .content-elem-wrap .elem-pricing .pricing-block h2{
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 20px;
	}
	.element-block{
		height: 425px;
	}
	.cards-wrap .card{
		height: 450px;
	}
}
@media (max-width: 870px){
	.navbar-nav>li>a{
		font-size: 11px;
	}
}
@media (max-width: 480px){
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 16px;
	}
	p,span{
		font-size: 14px;
	}
	.section-3 .container{
		padding: 0;
	}
	.section-5 .countries-wrap>div{
		padding-left: 0;
		padding-right: 0;
	}
	.element-block{
		
	}
	.section-3 .col-xs-12{
		padding: 0;
		
	}
	.section-5  .talk-to-us a .talk-bg{
		height: 170px;
	}
	.card-title{
		font-size: 12px;
	}
	.btn-link{
		font-size: 12px;
	}
	.form-inline .form-group{
		margin-bottom: 10px;
		margin-right: 0;
		width: 100%;
	}
	.section-2 .form-inline button{
		width: 100%;
		font-size: 16px;
		margin-top: 15px;
	}
	.element-block .img-elem-wrap .img-elem-inner{
		padding: 60px 15px !important;
	}
	.element-block .content-elem-wrap .elem-pricing .pricing-block{
		margin-right: 20px;
	}
	.section-5 .countries-wrap .country-wrap .country-img{
		height: 170px;
	} 
	.cards-wrap .card{
		height: auto !important;
	}
	
	.section-4 #carousel-logo-customers .img-wrap{
		padding: 0 15px;
	}
	.cards-wrap .card.card-employment h2 img{
		margin-left: 0;
		margin-right: 20px;
	}
	.cards-wrap .card.card-employment p{
		margin-bottom: 30px;
	}
}
@media (min-width: 1200px){
	.cards-wrap .card-customers-wrap {
		padding-left: 0;
	}
	.cards-wrap .card-learn-wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.cards-wrap .card-employment-wrap{
		padding-right: 0;
	}
	
}
@media (min-width:768px) and (max-width: 1200px){
	.element-block .content-elem-wrap .elem-pricing .pricing-block{
		margin-right: 20px;
	}
	.element-block .content-elem-wrap .elem-pricing .pricing-block h2{
		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
